<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="NOMEConnectionString" connectionString="Data Source=DESKTOP-1MNJ6EF;Initial Catalog=NOME;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NOMEConnectionString1" connectionString="Data Source=DESKTOP-1MNJ6EF;Initial Catalog=NOME;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NOMEConnectionString2" connectionString="Data Source=DESKTOP-1MNJ6EF;Initial Catalog=NOME;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
